# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
out/
target/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/
